.attendance-approve__container {
    max-width: 900px;
    margin: 0 auto;
}

.attendance-approve__ttl {
    font-size: 1.8rem;
    font-weight: bold;
    border-left: 10px solid rgba(0, 0, 0, 1);
    padding: 2px 20px;
}

.approve__wrapper {
    margin-bottom: 50px;
}

.approve__table {
    table-layout: fixed;
    width: 100%;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 10px;
    margin: 10px auto;
}

.table__item {
    text-align: left;
    border-bottom: 2px solid rgba(225, 225, 225, 1);
}

.table__item:last-child {
    border-bottom: none;
}

.name__ttl, .date__ttl, .work__ttl, .rest__ttl, .remarks__ttl {
    width: 40%;
    color: rgba(115, 115, 115, 1);
    padding-block: 25px;
    padding-left: 100px;
}

.name, .date, .work-time, .rest-time, .remarks {
    padding-block: 25px;
    padding-right: 100px;
}

.input__first, .input__second {
    width: 100px;
    height: 30px;
    text-align: center;
}

.input__first {
    margin-right: 30px;
}

.input__second {
    margin-left: 30px;
}

.date .input__second {
    margin-left: 50px;
}

.remarks textarea {
    width: 316px;
    height: 72px;
    padding: 5px;
}

.no-approve__button {
    display: block;
    width: 130px;
    height: 50px;
    font-size: 1.3rem;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(0, 0, 0, 1);
    border: none;
    border-radius: 5px;
    outline: none;
    box-shadow: none;
    margin-left: auto;
    margin-top: 30px;
}

.approve__button {
    display: block;
    width: 130px;
    height: 50px;
    font-size: 1.3rem;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(105, 105, 105, 1);
    border: none;
    border-radius: 5px;
    outline: none;
    box-shadow: none;
    margin-left: auto;
    margin-top: 30px;
}

@media screen and (max-width: 1200px) {
    .attendance-approve__container {
        max-width: 768px;
    }

    .name__ttl,
    .date__ttl,
    .work__ttl,
    .rest__ttl,
    .remarks__ttl {
        padding-block: 25px;
        padding-left: 50px;
    }

    .name,
    .date,
    .work-time,
    .rest-time,
    .remarks {
        padding-block: 25px;
        padding-right: 50px;
    }

    .input__first {
        margin-right: 15px;
    }

    .input__second {
        margin-left: 15px;
    }

    .date .input__second {
        margin-left: 35px;
    }
}

@media screen and (max-width: 850px) {
    .attendance-approve__container {
        max-width: 460px;
    }

    .attendance-approve__ttl {
        font-size: 1.4rem;
    }

    .name__ttl,
    .date__ttl,
    .work__ttl,
    .rest__ttl,
    .remarks__ttl {
        padding-left: 30px;
    }

    .name,
    .date,
    .work-time,
    .rest-time,
    .remarks {
        padding-right: 15px;
    }

    .input__first,
    .input__second {
        width: 80px;
    }

    .input__first {
        margin-right: 7px;
    }

    .input__second {
        margin-left: 7px;
    }

    .date .input__second {
        margin-left: 26px;
    }

    .remarks textarea {
        width: 216px;
        height: 72px;
        padding: 5px;
    }

    .no-retouch__text {
        font-size: 0.8rem;
    }
}

@media screen and (max-width: 480px) {
    .attendance-approve__container {
        max-width: 360px;
    }

    .attendance-approve__ttl {
        font-size: 1.2rem;
    }

    .name__ttl,
    .date__ttl,
    .work__ttl,
    .rest__ttl,
    .remarks__ttl {
        padding-left: 25px;
    }

    .input__first,
    .input__second {
        width: 75px;
    }

    .input__first {
        margin-right: 7px;
    }

    .input__second {
        margin-left: 7px;
    }

    .date .input__second {
        margin-left: 30px;
    }

    .remarks textarea {
        width: 180px;
    }
}
