.attendance-list__container {
    max-width: 900px;
    margin: 0 auto;
}

.attendance-list__ttl {
    font-size: 1.8rem;
    font-weight: bold;
    border-left: 10px solid rgba(0, 0, 0, 1);
    padding: 2px 20px;
    margin: 50px 0;
}

.list__table {
    table-layout: fixed;
    width: 100%;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 10px;
    margin: 30px auto;
}

.table__item {
    border-bottom: 2px solid rgba(225, 225, 225, 1);
}

.table__item:last-child {
    border-bottom: none;
}

.table__item td,
.table__item th {
    text-align: center;
    color: rgba(115, 115, 115, 1);
    padding: 10px 10px;
}

.monthly-attendance a {
    text-decoration: none;
    color: rgba(0, 0, 0, 1);
}